html{
    direction: rtl;
}
body{
    background-color: #242424;
    padding: 0 6rem;
}
.MuiOutlinedInput-notchedOutline {
	border-color: white !important;
}

.MuiSvgIcon-root {
	color: white !important;
}
.MuiBox-root {
    display: flex;
}